.front {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}
.front > img {
  width: 120%;
  height: 150%;
  margin-left: -10%;
}
.front-flex {
  position: absolute;
  top: 50px;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* transform: translate(0%, 0); */
}
.front-flex > img {
  height: 40px;
  width: auto;
  padding-right: 20px;
}
.front-flex > h2 {
  margin-left: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  margin-right: auto;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icons > a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 15px 15px 5px 15px;
  border: 1px solid #fff;
  transition: background-color 0.5s ease-in-out;
}
.icons > a:hover {
  background-color: #fff;
}
.front > a {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
  background-color: #4753d6;
  transition: all 0.3s ease-in-out 0s;
  box-sizing: border-box;
}
.front > a:hover {
  background-color: #6c77ea;
}
