.section6 {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.section6-content {
  display: flex;
  justify-content: center;
  /* align-items: left; */
  width: 50%;
  flex-direction: column;
  margin-left: 10%;
}
.section6-content > h1 {
  font-size: 50px;
  margin: 0;
}
.section6-content > p {
  font-size: 18px;
  line-height: 32px;
  color: #78758b;
  max-width: 450px;
  margin-bottom: 50px;
}
.section6-content > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  padding: 20px 30px;
  background-color: #4753d6;
  width: max-content;
}
